

<h3 class="mt-5 container">حجز المواعيد</h3>

<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3 nav-shadow">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/agency" routerLinkActive="activeBook_btn">الجهات</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/guest" routerLinkActive="activeBook_btn">حجز المواعيد</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/adjective" routerLinkActive="activeBook_btn">الوصف الوظيفي</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/host" routerLinkActive="activeBook_btn">المستضيف</a>
        </li>


      </ul>

    </div>
  </div>
</nav>
<hr>
