<section>


    <div class="row g-0">

      <div class="d-flex justify-content-center align-items-center layout">

        <div class="col-md-6">
          <img class="home_img" src="./assets/image/HomeImg.jpg" alt="Home">
        </div>

        <div class="col-md-6 text-center">

         <div class="font-color">
          <h1>إدارة قاعدة البيانات الوطنية</h1>
          <h2>قسم تطوير قواعدة البيانات</h2>
          <h3>وحدة تحليل و معالجة البيانات</h3>
          <h1>منظومة الزوار</h1>
         </div>

        </div>

        <div class="inner"></div>

      </div>

    </div>


</section>
